<!DOCTYPE html>
<html>
<head>
  <title>DeviseJsTimeout</title>
  <%= stylesheet_link_tag    "devise_js_timeout/application", media: "all" %>
  <%= javascript_include_tag "devise_js_timeout/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
